a{
	color:#0e9e8b;
}

nav a, footer div a{
	margin:0px 5px;
}

footer{
	margin-top:40px;
	text-align: center;
}

body{
	font-family: "Gill Sans", serif;
	margin: auto;
	padding:18px;
	max-width: 600px;
	font-size:18px;
	text-align: left;
	background-color:white;
	position: relative;
}

#dark-button{
	top:20px;
	right:20px;
	position: absolute;
}

.dark{
	color:#f9f9f9;
	background-color: #222;
}

img, video{
	max-width: 600px;
	border: 2px solid #eba613;
}

p:hover {
	background-color: #0e9e8b21;
	border-radius: 1px;
  }
/* 
p {
	animation-duration: 1s;
	animation-name: slidein;
  }
  
  @keyframes slidein {
	from {
	  margin-top: 100%;
	  width: 300%;
	}
  
	to {
	  margin-left: 0%;
	  width: 100%;
	}
  } */